<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%@ taglib prefix="box" uri="http://www.boxfmk.org.cn/boxUI"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>查看</title>
<script src="${contextpath}/ui/boot.js" type="text/javascript"></script>
<script src="${contextpath}/${jsPathObj}/${aLObjName}.js" type="text/javascript"></script>
</head>
<body>
<fieldset class="fieldsetcss"><legend>${ObjCN}</legend>
<div class="formDiv">
<table class="formtb" style="width: 800">
#set($col='1')
#foreach (${element} in ${configBasicExtendInfoList})
#if(${element.IS_CREATE_DISPLAY}=='1')
#if($col=='1')
<tr>
#end
	<td class="td1" style="width: 200px">${element.FIELD_DESCRIBE}：</td>
	#if(${element.CONTROL_TYPE}=='mini-datepicker')
	
	<td class="td2" style="width: 200px"><fmt:formatDate value="${ model.${element.FIELD_ENGLISH_NAME}}" pattern="yyyy-MM-dd"/></td>
	#else
	<td class="td2" style="width: 200px">${ model.${element.FIELD_ENGLISH_NAME}}</td>
	#end
#if($col=='2')
</tr>
#set($col='1')
#else
#set($col='2')
#end
#end
#end
</table>
</div>
<div style="text-align: center; padding: 10px;"><a class="mini-button" onclick="go(this)" realhref="${contextpath}/${aLObjName}/add" iconCls="icon-add" style="width: 100px; margin-right: 20px;">继续新增</a> <a class="mini-button" onclick="go(this)" realhref="${contextpath}/${aLObjName}/modify/${ model.ID}" iconCls="icon-edit" style="width: 60px; margin-right: 20px;">修改</a> <a class="mini-button" onclick="closeMe('cancel')" iconCls="icon-close" style="width: 60px;">关闭</a></div>
</fieldset>
</body>
</html>
